ion-header{
  position: absolute;
}

ion-toolbar{
  --ion-background-color: transparent;
  --opacity:0;
}    


ion-content{
  --ion-background-color: #E1EAF9 !important;
}
    p{
      font-size:16px;
      line-height: 22px;
      font-weight: 300;
  
      color: #8c8c8c;
      margin: 0;
    }
  
    